.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.border-dark {
  border-color: #343432 !important;
}